.wrapper{
    background-color: #ECF0F5;
    padding: 10px;
}
.clr{
    clear: both;
}
.header{border-bottom: 3px solid #27C3F0;}
.header p {}
.article{
    float: left;
}
.create{
    float: left;
    margin-left: 10px;
    /* font-size: 19px; */
}
.content{
    background-color: white;
    padding: 5px 0px;
}
.content h2{
    padding-left: 5px;
}
.form{
    border-top: 1px solid #decdcd;
}
.table {
    border: 1px solid;
    width: 100%;
}
.table tr {}
.table tr td{}
.row1{}
.col1{
    text-align: right;
    width: 300px;
}
.label{}
.col2{}
.icon{}
.pencil{}
.input{
    width: 800px;
}
.row2{
}
#details{
    width: 861px;
}
.row3{}
.footer{
    border-top: 1px solid #decdcd;
    margin-top: 10px;
    padding-top: 7px;
}
.button{}
.button.reset{}
.button.submit{}
#view{}
#creating{}
#reading{}

